body {
  margin: 0;
}

.main-container {
  display: flex;
  min-height: 100vh;
}

.left-column {
  background-image: url(assets/background-image.avif);
  background-position: center center;
  background-size: cover;
  flex: 1;
}

.right-column {
  background-color: green;
  flex: 2;
}