@font-face {
  font-family: norse;
  src: url(fonts/norse-bold.otf);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

.main-container {
  display: flex;
  min-height: 100vh;
}

.left-column {
  background-image: url(assets/background-image.avif);
  background-position: center center;
  background-size: cover;
  flex: 1.5;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-section {
  height: 15%;
  background-color: rgba(0, 0, 0, 0.422);
  margin-top: 36%;

  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  height: 80%;
}

.logo-text {
  padding-top: 5.5%;
  font-family: norse;
  color: white;
  font-size: 100px;
}

.credit-text {
  text-align: center;
  color: white;
}

.credit-text a:visited {
  color: white;
}

.right-column {
  display: flex;
  flex-direction: column;
  flex: 2.5;
}

.header,
.section-one,
.section-two {
  padding-left: 50px;
  padding-right: 15%;
}

.header,
.section-two {
  background-color: rgb(249, 250, 251);
}

.section-one {
  background-color: rgb(255, 255, 255);
  margin-bottom: 10px;
  box-shadow: 0 5px 10px #0000002b;
}

.section-one {
  flex: 4;
  padding-bottom: 10px;
}

.section-two {
  flex: 6;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  flex: 1;
}

.header-text {
  font-size: 25px;
  font-weight: bold;
  padding-bottom: 3%;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  flex: 2;
}

.section-one-text {
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
}

.input-section {
  display: flex;
  flex-wrap: wrap;

  column-gap: 10%;
}

.form-row {
  display: flex;
  flex-direction: column;

  width: 250px;

  margin-bottom: 20px;
}

.form-row label {
  font-size: 12px;
}

.form-row input {
  background-color: #ffffff;
  border: 1px solid #D6D9DC;
  border-radius: 4px;
  padding: 7px;
  font-size: 14px;
}

.form-row input:focus {
  outline: none;
  border: 1px solid rgb(42, 77, 208);
  border-radius: 4px;
  box-shadow: 5px 5px 10px #00000046;
}

button {
  flex-shrink: 1;

  font-size: 20px;
  font-weight: bold;

  color: #FFFFFF;
  background-color: #596D48;

  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #00000046;

  padding: 10px 40px;
  cursor: pointer;
}

button:hover {
  background-color: #778d65;
}

button:active {
  background-color: #3a482f;
}

.section-two-text {
  padding-top: 15px;
}

.section-two-text a {
  font-weight: bold;
  text-decoration: none;
}

.section-two-text a:hover {
  text-decoration: underline;
}